body {
    background-color: black;
    color: white;
    max-width: 768px;
    margin: 0 auto;
    /* Font from Google Fonts, imported in the HEAD tag of the HTML */
    font-family: "Roboto", sans-serif;
}

h1{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: #00db71;
    text-transform: uppercase;
    font-weight: bold;
}

#days-container {
    border-style: solid;
    border-width: 3px;
    border-color: #4a4a4a;
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
}

.day {
    background-color: rgb(26, 26, 26);
    display: inline-block;
    width: 97px;
    height: 97px;
    text-align: center;
    line-height: 97px;
    font-size: large;
    border-color: rgb(60, 60, 60);
    border-style: solid;
    border-width: 2px;
    margin: 2px;
    border-radius: 10px;
    cursor: pointer;
}
